body {
	margin: -20px;
	background-color: rgb(255, 219, 94);
	background: radial-gradient(circle, rgb(255, 251, 237), rgb(255, 219, 94));
	background-size: cover;
	background-position: center;
	overflow: hidden;
	font-family: 'Orbitron', sans-serif;

}

h1{
	text-align: center;
	font-size: 80px;
	font-weight: 900;
	color: rgb(201, 8, 8);
}

#blinker {
  position: relative;
  height: 80px;
  width: 70px;
  background-color: rgb(201, 8, 8);
  display: inline-block;
  z-index: 1;
  margin: 5px 5px 0 0;
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
}

#clockDisplay {
	
	margin-left: 25%;
	height: 300px;
	width: 500px;
	color: rgb(201, 8, 8);
	background-color:rgb(33, 1, 1);
	font-size: 90px;
	display: flex;
	padding-right: 150px;
	justify-content: center;
}

.times {

	text-align: center;
	align-self: center;
	padding:85px 0 85px 0;
	width: 150px;
	border: 5px solid black;
	background-color:rgb(209, 209, 209);
	background: radial-gradient(circle, rgb(232, 232, 232) 50%, rgb(40, 40, 40));
	overflow-x: hidden;
}

#displaySeconds{
	padding: 100px 0 100px 0;
	font-size: 60px;
}

#clockside{
	margin-top: 10%;
	margin-left: 25%;
	height: 0px;
	width: 400px;
	border-color: rgb(51, 2, 2);
	border-left: 100px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 100px solid rgb(25, 1, 1);
	overflow-x: hidden;

}

button {
	position: absolute;
	border-radius: 50px;
	font-weight: 900;
	outline: none;
}

button:active {
	background-color: rgb(28, 0, 0);
}

.top-button {
	height: 70px;
	width: 150px;
	z-index: 999;
	background-color: rgb(33, 1, 1);
	border-color: rgb(40, 12, 2);
	color: rgb(163, 65, 8);
	margin-top: 20px;
	font-size: 30px;
	-webkit-transform: rotateX(45deg);
	transform: rotateX(45deg);
	-webkit-perspective:75px;
	perspective: 75px; 
}

.round-button, .arrow-buttons {
	height: 55px;
	width: 55px;
	background-color: rgb(51, 1, 1);
	border-color: rgb(61, 17, 2);
	color: rgb(178, 87, 7);
}

#snooze {
	margin-left: 260px;
}

#round-buttons-container {
	margin-top: 150px;
	background-color: red;
}

#set-time{
	margin-left: 10px;
}

#set-alarm{
	margin-left: 100px;
	margin-top: 10px;
}

#reset {
	margin-top: 70px;
	margin-left: 10px;
}

#hourFormat{
	margin-top: 80px;
	margin-left: 100px;
}

#hours-up{
	margin-top: 10px;
	margin-left: 15px;
}

#hours-down{
	margin-top: 75px;
	margin-left: 15px;
	
}

#minutes-up {
	margin-top: 15px;
	margin-left: 95px;
}

#minutes-down{
	margin-top: 80px;
	margin-left: 95px;
}

p {
	position: absolute;
	font-size: 14px;
	line-height: 0px;
	color: rgb(178, 87, 7);
}

#hour {
	margin-top: 70px;
	margin-left: 25px;
}


#minute {
	margin-top: 75px;
	margin-left: 105px;
}

.arrow-up {
	position: absolute;
	height: 0px;
	width: 15px;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 14px solid rgb(255, 255, 255);
}

.arrow-down {
	border-color: rgb(178, 87, 7)
}

@keyframes color{
	0% {
		background: radial-gradient(rgb(255, 221, 221),rgb(255, 107, 107));
	}
	20% {
		background: radial-gradient(rgb(236, 255, 221),rgb(165, 255, 91));
	}
	40% {
		background: radial-gradient(rgb(211, 236, 255),rgb(76, 180, 255));
	}
	60% {
		background: radial-gradient(rgb(252, 209, 250),rgb(255, 89, 246));
	}
	80% {
		background: radial-gradient(rgb(252, 239, 208),rgb(255, 209, 102));
	}
	100% {
		background: radial-gradient(rgb(230, 219, 255),rgb(50, 102, 255));
	}

}

@-webkit-keyframes color{
	0% {
		background: radial-gradient(rgb(255, 221, 221),rgb(255, 107, 107));
	}
	20% {
		background: radial-gradient(rgb(236, 255, 221),rgb(165, 255, 91));
	}
	40% {
		background: radial-gradient(rgb(211, 236, 255),rgb(76, 180, 255));
	}
	60% {
		background: radial-gradient(rgb(252, 209, 250),rgb(255, 89, 246));
	}
	80% {
		background: radial-gradient(rgb(252, 239, 208),rgb(255, 209, 102));
	}
	100% {
		background: radial-gradient(rgb(230, 219, 255),rgb(50, 102, 255));
	}

}

@-moz-keyframes color{
	0% {
		background: radial-gradient(rgb(255, 221, 221),rgb(255, 107, 107));
	}
	20% {
		background: radial-gradient(rgb(236, 255, 221),rgb(165, 255, 91));
	}
	40% {
		background: radial-gradient(rgb(211, 236, 255),rgb(76, 180, 255));
	}
	60% {
		background: radial-gradient(rgb(252, 209, 250),rgb(255, 89, 246));
	}
	80% {
		background: radial-gradient(rgb(252, 239, 208),rgb(255, 209, 102));
	}
	100% {
		background: radial-gradient(rgb(230, 219, 255),rgb(50, 102, 255));
	}

}

@keyframes blink {
	from {background-color: rgba(201, 8, 8, 1.0);}
	to {background-color: rgba(201, 8, 8, 0.0);}
}

@-webkit-keyframes blink {
	from {background-color: rgba(201, 8, 8, 1.0);}
	to {background-color: rgba(201, 8, 8, 0.0);}
}

@-moz-keyframes blink {
	from {background-color: rgba(201, 8, 8, 1.0);}
	to {background-color: rgba(201, 8, 8, 0.0);}
}




/*@font-face{font-family:; src:; etc}*/